extends layouts/layout.pug

block head 
    title ADD NEW PRODUCT

block torso
    main 
        h1 ADD NEW PRODUCT 
        form(action="/admin/add-product", method="post") 
            label(for="product-name") Product Name
            input#product-name(type="text", name="name", placeholder="Enter product name", autocomplete="off", required)
            label(for="product-price") Product Price 
            input#product-price(type="number", name="price", placeholder="Enter price", step="0.01", min="0", autocomplete="off", required)
            label(for="product-description") Product Description
            textarea#product-description(name="description", placeholder="Enter product description", rows="4", autocomplete="off", required)
            label(for="product-link") Product Link 
            input#product-link(type="url", name="link", placeholder="Enter product details link", autocomplete="off")
            button(type="submit") ADD PRODUCT