<main>
    <h1>PRODUCTS</h1>
    <div class="products-container">
        {{#if hasProducts}}
        <div class="product-grid">
            {{#each products}}
            <div class="product-item">
                <h3 class="product-title">{{this.title}}</h3>
                <div class="product-info">
                    <p class="product-description">{{this.description}}</p>
                    <div class="product-price">{{this.price}}</div>
                </div>
                <div class="product-actions">
                    <a href="#">VIEW DETAILS</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{else}}
    <p class="no-products">
        No products found. Add some products to see them listed here.
    </p>
    {{/if}}
</main>