extends layouts/layout.pug

block head
    title 404: PAGE NOT FOUND

block torso
    main.error-page
        h1 404: PAGE NOT FOUND, CHOOMS!
        p The page you're looking for doesn't exist or has been moved.
        a(href="/") RETURN TO HOMEPAGE