<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ADD PRODUCT</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:opsz,wght@18..144,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>

<body class="font_I">
    <header>
        <nav>
            <ul>
                <li><a href="/">HOMEPAGE</a></li>
                <li><a href="/admin/add-product">ADD PRODUCT</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>ADD NEW PRODUCT</h1>
        <form action="/admin/add-product" method="POST">
            <label for="product-name">Product Name</label>
            <input type="text" id="product-name" name="name" placeholder="Enter product name" required>
            <button type="submit">ADD PRODUCT</button>
        </form>
    </main>
</body>

</html>