<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PRODUCTS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:opsz,wght@18..144,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>

<body class="font_I">
    <header>
        <nav>
            <ul>
                <li><a href="/">HOMEPAGE</a></li>
                <li><a href="/admin/add-product">ADD PRODUCT</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>PRODUCTS</h1>
        <p>List of all the products will appear here. Each product will be displayed with its details and options to
            view more information.</p>
        <div class="products-container">
            <p>No products found. Add some products to see them listed here.</p>
        </div>
    </main>
</body>

</html>