<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ADD_NAME</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">HOMEPAGE</a></li>
                <li><a href="/admin/add-name">ADD NAME</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>NAMES:</h1>
        <p>List of all the names...</p>
    </main>
</body>

</html>