<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:opsz,wght@18..144,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>

<body class="font_I">
    <header>
        <nav>
            <ul>
                <li><a href="/">HOMEPAGE</a></li>
                <li><a href="/admin/add-product">ADD PRODUCT</a></li>
            </ul>
        </nav>
    </header>
    <main class="error-page">
        <h1>404: PAGE NOT FOUND, CHOOMS!</h1>
        <p>The page you're looking for doesn't exist or has been moved.</p>
        <a href="/">RETURN TO HOMEPAGE</a>
    </main>
</body>

</html>